html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    height: 100%;
}

.spacer {
    width: 15%;
    aspect-ratio: 3/1;
}

.blue {
    background-color: #0066ff;
    position: relative;
    margin-top: -5px;
    z-index: -5;
}


header {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin-top: 9em;
    margin-right: 7em;
    z-index: 99;

}

#dark,
#light {
    transition: all 0.2s ease;
}

#light {
    transform: translateY(17px);
    transform-origin: 0px 0px 0px;
    transform-origin: 0px 0px;
}

#dark {
    transform: none;
    transform-origin: 0px 0px 0px;
    transform-origin: 0px 0px;
}

.theme-switch {
    cursor: pointer;
    z-index: 99;
}

.icons-style {
    opacity: 1;
    fill: none;
    stroke: #606887;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    display: block
}

@media(max-width:61.99em) {
    .mini-icons {
        stroke-width: 1.5px
    }
}


main {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.main1 {
    z-index: 999;
}

h1 {
    font-size: 8vw;
    margin-bottom: 0;
    margin: 0;
    transition: color 0.2s ease;
    z-index: 999;
}

h3 {
    font-size: 2vw;
    margin-top: 0;
    transition: color 0.2s ease;
}

body {
    margin: 0;
    background: #f3f2f9;
    font-family: 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
    line-height: normal;
    font-weight: 300;
    font-style: normal;
    transition: background-color 0.2s ease;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

.socmed {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 2;
    opacity: 0.9;
}


.social-icon {
    height: 2rem;
    width: 2rem;
}

.social {
    margin-right: 0;
    font-size: 0.75rem;
    line-height: 1rem;
    flex-shrink: 0;
}

a {
    color: inherit;
    text-decoration: inherit;
    transition: 0.3s;
}

.social-link {
    color: #f3f2f9;
}

.social-link:hover {
    color: #002233;
}

.sr-only {
    opacity: 0;
    visibility: hidden;
}

.links {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
}

h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    position: relative;
    z-index: 3;
    opacity: 0.75;
    color: #f3f2f9;
}

.wave {
    z-index: 0;
}

/* The mobile-first pre-defined media queries: */
@media (max-width: 450px) {
    .blue {
        height: 12vh;
    }

    .socmed {
        margin-left: 0;
        justify-content: center;
        list-style-type: none;
        margin: 0;
        padding: 0;
        transform: translateX(-8%);
    }

    .social-icon {
        height: 1.5rem;
        width: 1.5rem;
    }

    .social {
        margin-right: 0;
        font-size: 0.6rem;
        line-height: 1rem;
        flex-shrink: 0;
    }

    .social1 {
        margin-right: 0;
        padding-left: 0;
        margin-left: 0;
        font-size: 0.75rem;
        line-height: 1rem;
        flex-shrink: 0;
    }
}

/* xs */
@media (min-width: 450px) {
    .blue {
        height: 12vh;
    }


    .socmed {
        margin-left: 0;
        justify-content: center;
        list-style-type: none;
        margin: 0;
        padding: 0;
        transform: translateX(-8%);
    }

    .social-icon {
        height: 1.5rem;
        width: 1.5rem;
    }

    .social {
        margin-right: 0;
        font-size: 0.75rem;
        line-height: 1rem;
        flex-shrink: 0;
    }

    .social1 {
        margin-right: 0;
        padding-left: 0;
        margin-left: 0;
        font-size: 0.75rem;
        line-height: 1rem;
        flex-shrink: 0;
    }
}

/* sm */
@media (min-width: 640px) {
    .blue {
        height: 12vh;
    }

    .socmed {
        margin-left: 0;
        justify-content: center;
        list-style-type: none;
        margin: 0;
        padding: 0;
        transform: translateX(-4%);
    }

    .social-icon {
        height: 2rem;
        width: 2rem;
    }

    .social {
        margin-right: 0;
        font-size: 0.75rem;
        line-height: 1rem;
        flex-shrink: 0;
    }

    .social1 {
        margin-right: 0;
        padding-left: 0;
        margin-left: 0;
        font-size: 0.75rem;
        line-height: 1rem;
        flex-shrink: 0;
    }
}

/* md */
@media (min-width: 768px) {
    .blue {
        height: 9vh;
    }

    .social-icon {
        height: 2rem;
        width: 2rem;
    }

}

/* lg */
@media (min-width: 1024px) {

    .blue {
        height: 6vh;
    }

    .social-icon {
        height: 2rem;
        width: 2rem;
    }
}

/* xl */
@media (min-width: 1280px) {
    .blue {
        height: 3vh;
    }

    .social-icon {
        height: 2.4rem;
        width: 2.4rem;
    }
}

.noise {
    position: fixed;
    z-index: 1;
    top: -300%;
    left: -150%;
    height: 600%;
    width: 600%;
    -webkit-animation: grain 7s steps(10) infinite;
    animation: grain 7s steps(10) infinite;
    background-image: url(noise.png);
    background-size: 200px;
    background-repeat: repeat;
    opacity: .25;
}

@-webkit-keyframes grain {

    0%,
    to {
        transform: translate(0)
    }

    10% {
        transform: translate(-5%, -10%)
    }

    20% {
        transform: translate(-15%, 5%)
    }

    30% {
        transform: translate(7%, -25%)
    }

    40% {
        transform: translate(-5%, 25%)
    }

    50% {
        transform: translate(-15%, 10%)
    }

    60% {
        transform: translate(15%)
    }

    70% {
        transform: translateY(15%)
    }

    80% {
        transform: translate(3%, 35%)
    }

    90% {
        transform: translate(-10%, 10%)
    }
}

@keyframes grain {

    0%,
    to {
        transform: translate(0)
    }

    10% {
        transform: translate(-5%, -10%)
    }

    20% {
        transform: translate(-15%, 5%)
    }

    30% {
        transform: translate(7%, -25%)
    }

    40% {
        transform: translate(-5%, 25%)
    }

    50% {
        transform: translate(-15%, 10%)
    }

    60% {
        transform: translate(15%)
    }

    70% {
        transform: translateY(15%)
    }

    80% {
        transform: translate(3%, 35%)
    }

    90% {
        transform: translate(-10%, 10%)
    }
}